<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arash.altafi.sensor">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensor">
        <activity
            android:name=".wifi.WifiActivity"
            android:exported="false" />
        <activity
            android:name=".screenShot.ScreenShotActivity"
            android:exported="false" />
        <activity
            android:name=".Shake.SeismicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".deviceInfo.DeviceInfoActivity"
            android:exported="false" />
        <activity
            android:name=".root.CheckRootActivity"
            android:exported="false" />
        <activity
            android:name=".developerOption.DeveloperOptionActivity"
            android:exported="false" />
        <activity
            android:name=".restartApp.RestartAppActivity"
            android:exported="false" />
        <activity
            android:name=".emulator.EmulatorActivity"
            android:exported="false" />
        <activity
            android:name=".lock3.PatternLockActivity"
            android:exported="false" />
        <activity
            android:name=".lock3.Lock3Activity"
            android:exported="false" />
        <activity
            android:name=".lock2.Lock2Activity"
            android:exported="false" />
        <activity
            android:name=".lock1.Lock1Activity"
            android:exported="false" />
        <activity
            android:name=".flash1.FlashActivity1"
            android:exported="false" />
        <activity
            android:name=".fingerprint4.FingerprintActivity4"
            android:exported="false" />
        <activity
            android:name=".fingerprint3.FingerprintActivity3"
            android:exported="true" />
        <activity
            android:name=".fingerprint2.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".fingerprint2.FingerprintActivity2"
            android:exported="true" />
        <activity
            android:name=".fingerprint1.FingerprintActivity1"
            android:exported="true" />
        <activity
            android:name=".vibrator.VibratorActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>